<nav>
      <ul>
      <li><%= nav_link_to "Articles", "articles", articles_path, "grn" %></li>
      <li><%= nav_link_to "Blog", "blog", blog_path, "pnk" %></li>
      <li><%= nav_link_to "Calendar", "calendar", calendar_path, "orng"%></li>
      <li><%= nav_link_to "Contact us", "contact_us", contact_us_path, "blu" %></li>
      <li><%= nav_link_to "Home", "home", home_path, "grn" %></li>
      <li><%= nav_link_to "Login", "login", login_path, "blu" %></li>
      <li><%= nav_link_to "About us", "about_us", about_us_path, "pnk" %></li>
      <li><%= nav_link_to "Newsletter", "newsletter", newsletter_path, "orng" %></li>
      <li><%= nav_link_to "Products", "products", products_path, "grn" %></li>
      </ul>
</nav>